table, th, td {
  border: 1px solid black;
  table-layout:fixed;
  overflow: hidden;
  padding: auto;
  text-align: center;
  font-size: 30px;
}

td {
  width: 100px;
  height: 100px;
}

button {
  margin: auto;
  display:block;
}

table {
  border-collapse: collapse;
  width: 300px;
  height: 300px;
  margin:auto;
}

#message {
  text-align: center;
}